#background
{
    overflow:hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6ddad5;
    z-index: -3;
}

#city_background_container
{
    display:block;
    overflow:visible;
    position: absolute;
    left: 0;
    bottom: 20px;

    height: 210px;

    z-index: -2;
}

.city_background
{
    display: block;
    position: relative;
    float: left;
    overflow: visible;

    background: url(sheet.png) 0 -410px;
    width: 276px;
    height: 210px;
    z-index: -2;
}

#scrolling_background_container
{
    display:block;
    overflow:visible;
    position: absolute;
    left: 0;
    bottom: 0;

    z-index: -1;
}

.scrolling_background
{
    display: block;
    position: relative;
    float: left;
    overflow: visible;

    background: url(sheet.png) -276px -410px;
    width: 112px;
    height: 112px;

    bottom: 0px;

    z-index: -1;
}