body
{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: black;
}

#viewport
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0; left: 0;
    margin-left: 0;
    margin-top: 0;
}

.flappybird
{
    -webkit-animation: animateBird 300ms steps(1) infinite;
    animation: animateBird 300ms steps(1) infinite;

    background: url(sheet.png) -312px -230px;

    width: 34px;
    height: 24px;

    z-index: 0;
}

@-webkit-keyframes animateBird
{
    0% { background-position: -312px -230px;}
    33.33% { background-position: -312px -256px;}
    66.66% { background-position: -312px -282px;}
}
@keyframes animateBird
{
    0% { background-position: -312px -230px;}
    33.33% { background-position: -312px -256px;}
    66.66% { background-position: -312px -282px;}
}

.ui_button:active
{
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}