#gameover
{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 0;
}

#gameover_text
{
    display:none;

    position:absolute;

    top:20%;
    left: calc(50% - 94px);

    background: url(sheet.png) -118px -272px;
    width: 188px;
    height: 38px;

    -webkit-animation: textAnim 600ms;
    animation: textAnim 600ms;
}

@keyframes textAnim
{
    0% {transform: translateY(0px)}
    40% {transform: translateY(-10px)}
    100% {transform: translateY(0px)}
}

#scoreboard
{
    display: none;
    position: absolute;

    top: 40%;
    left: calc(50% - 112px);

    background: url(sheet.png) -276px -112px;
    width: 226px;
    height: 115px;

    z-index: 0;

    -webkit-animation: scoreboardAnim 600ms;
    animation: scoreboardAnim 600ms;
}

@keyframes scoreboardAnim
{
    from {transform: translateY(500px)}
    to {transform: translateY(0px)}
}

#ok_button
{
    display: none;
    position: absolute;
    top: 70%;
    left: 40%;

    background: url(sheet.png) -238px -382px;
    width: 80px;
    height: 28px;

    z-index: 0;
}