#ingame
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 0;
}

#whitescreen
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
}

#ingame_start
{
    position: absolute;

    display: block;

    width: 182px;

    left: calc(50% - 91px);
    right: auto;
    top: 20%;

    z-index: 0;
}

#get_ready_text
{
    position:relative;

    top:0;
    left:0;

    background: url(sheet.png) -110px -310px;
    width: 182px;
    height: 44px;
}

#tap_guide
{
    position: relative;

    top: 100px;
    left: 32px;
    right: auto;

    background: url(sheet.png) 0 -228px;
    width: 118px;
    height: 115px;
}

#ingame_points_container
{
    position: absolute;
    overflow: visible;
    top: 5%;
    left: calc(50% - 25px);

    width: 50px;
}

#firstdigit
{
    display:none;
}

.ingame_points
{
    position: relative;
    float: left;
    margin-left: 1px;

    background: url(sheet.png) 0 -370px;
    width: 15px;
    height: 27px;

    z-index: 0;
}

#flappybird_ingame
{
    position: absolute;

    left: 30%;
    top: 45%;

    z-index: 1;
}

.upper_pipe
{
    position: absolute;
    right: -54px;
    top: 0;

    background: url(sheet.png) -553px -350px;
    width: 54px;
    height: 60px;

    transform: translateX(0);

    z-index: -1;
}

.lower_pipe
{
    position: absolute;
    right: -53px;
    bottom: 112px;

    background: url(sheet.png) -502px 0;
    width: 53px;
    height: 60px;

    transform: translateX(0);

    z-index: -1;
}

@keyframes pipeMove
{
    from {transform: translateX(0vw)}
    to {transform: translateX(calc(-100vw - 54px))}
}
