#main_menu
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 0;
}

#flappybird_start
{
    -webkit-animation: pingpong_start 500ms infinite alternate linear;
    animation: pingpong_start 500ms infinite alternate linear;

    position: absolute;

    display: block;
    width: 234px;

    left: calc(50% - 117px);
    right: auto;
    top: 20%;

    z-index: 0;
}

#flappybird_text
{
    display: inline;
    float: left;

    background: url(sheet.png) -110px -228px;
    width: 200px;
    height: 44px;

    z-index: 0;
}

#flappybird_inMenu
{
    display:inline;

    float: left;

    position: absolute;
    top: 10%;

    margin-left: 15px;

    z-index: 0;
}

#start_button
{
    position: absolute;
    top: 60%;
    left: 40%;

    background: url(sheet.png) -318px -382px;
    width: 80px;
    height: 28px;

    z-index: 0;
}

@-webkit-keyframes pingpong_start
{

    from { -webkit-transform: translate(0px, 0px); /* Safari */
        transform: translate(0px, 0px);}
    to { -webkit-transform: translate(0px, 20px); /* Safari */
        transform: translate(0px, 20px);}
}
@keyframes pingpong_start
{

    from { -webkit-transform: translate(0px, 0px); /* Safari */
        transform: translate(0px, 0px);}
    to { -webkit-transform: translate(0px, 20px); /* Safari */
        transform: translate(0px, 20px);}
}